BODY {
	BACKGROUND-COLOR: white
}
TD {
	BACKGROUND-COLOR: white
}
H1 TD {
	FONT-FAMILY: arial,sans-serif
}
H1 {
	FONT-FAMILY: arial,sans-serif
}
H2 {
	FONT-FAMILY: arial,sans-serif
}
H3 {
	FONT-FAMILY: arial,sans-serif
}
H4 {
	FONT-FAMILY: arial,sans-serif
}
H5 {
	FONT-FAMILY: arial,sans-serif
}
H6 {
	FONT-FAMILY: arial,sans-serif
}
DIV.topnav {
	FONT-FAMILY: arial,sans-serif
}
DIV.sidesearch {
	FONT-FAMILY: arial,sans-serif
}
DIV.sidequote {
	FONT-FAMILY: arial,sans-serif
}
DIV.bottomnav {
	FONT-FAMILY: arial,sans-serif
}
DIV.footer {
	FONT-FAMILY: arial,sans-serif
}
TD#sidebartitle {
	FONT-FAMILY: arial,sans-serif
}
DIV.bottomnav {
	MARGIN-TOP: 1ex
}
DIV.bottomnav A {
	FONT-SIZE: 10pt
}
SPAN.bottomnav {
	FONT-SIZE: 10pt
}
DIV.bottomnav A {
	FONT-SIZE: 12pt; COLOR: #0000cc
}
SPAN.big {
	FONT-SIZE: 12pt; COLOR: #0000cc
}
A:link {
	COLOR: #0000cc
}
A:visited {
	COLOR: #551a8b
}
A:active {
	COLOR: #ff0000
}
DIV.topnav {
	MARGIN-BOTTOM: 0.1ex
}
H1 TD {
	FONT-WEIGHT: bolder; FONT-SIZE: 0.95em
}
H1 TD {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 2pt; BORDER-TOP: medium none; PADDING-LEFT: 2pt; PADDING-BOTTOM: 2pt; BORDER-LEFT: medium none; COLOR: white; PADDING-TOP: 2pt; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #669900
}
DIV.side {
	PADDING-RIGHT: 1pt; PADDING-LEFT: 1pt; PADDING-BOTTOM: 1pt; MARGIN-RIGHT: 2ex; PADDING-TOP: 1pt
}
DIV.sidenav {
	
}
DIV.sidesearch {
	MARGIN-TOP: 1em; FONT-SIZE: 0.75em
}
DIV.sidequote {
	BORDER-RIGHT: red 0px solid; BORDER-TOP: red 1px solid; MARGIN-TOP: 1.5in; BORDER-LEFT: red 0px solid; BORDER-BOTTOM: red 1px solid; TEXT-ALIGN: center
}
DIV.footer {
	PADDING-RIGHT: 3pt; PADDING-LEFT: 3pt; PADDING-BOTTOM: 3pt; COLOR: #6f6f6f; PADDING-TOP: 3pt; TEXT-ALIGN: center
}
TABLE.sidebarborder {
	MARGIN: 1pt 3pt 3pt
}
TD#sidebarcontent {
	BACKGROUND-COLOR: #ffffff
}
BODY.corporate H1 TD {
	BACKGROUND-COLOR: #339966
}
BODY.corporate TABLE.sidebarborder TD {
	BACKGROUND-COLOR: #339966
}
BODY.corporate TD#sidebartitle {
	BACKGROUND-COLOR: #d8f1e4
}
BODY.siteowners H1 TD {
	BACKGROUND-COLOR: #ddad08
}
BODY.siteowners TABLE.sidebarborder TD {
	BACKGROUND-COLOR: #ddad08
}
BODY.siteowners TD#sidebartitle {
	BACKGROUND-COLOR: #f1e4d8
}
BODY.search H1 TD {
	BACKGROUND-COLOR: #336699
}
BODY.search TABLE.sidebarborder TD {
	BACKGROUND-COLOR: #336699
}
BODY.search TD#sidebartitle {
	BACKGROUND-COLOR: #d8e4f1
}
BODY.zealots H1 TD {
	BACKGROUND-COLOR: #aa1002
}
BODY.zealots TABLE.sidebarborder TD {
	BACKGROUND-COLOR: #aa1002
}
BODY.zealots TD#sidebartitle {
	BACKGROUND-COLOR: #f1e4d8
}
DIV.sidenav {
	FONT-SIZE: 10px; FONT-FAMILY: arial, sans-serif
}
